---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

### Basic Account
{{ tffile "examples/resources/nsc_account/resource.tf" }}

### Account with JetStream Enabled
{{ tffile "examples/resources/nsc_account/jetstream.tf" }}

### Account with Subject Mappings
{{ tffile "examples/resources/nsc_account/mapping.tf" }}

{{ .SchemaMarkdown | trimspace }}
